# Basic EDA for Anomaly Detection

In [1]:
import os
from dotenv import load_dotenv

load_dotenv()

DB_HOST = os.getenv("SANDHYA_ERP_DB_HOST")
DB_PORT = os.getenv("SANDHYA_ERP_DB_PORT")
DB_USERNAME = os.getenv("SANDHYA_ERP_DB_USERNAME")
DB_PASSWORD = os.getenv("SANDHYA_ERP_DB_PASSWORD")
DB_NAME = os.getenv("SANDHYA_ERP_DB_NAME")

sandhya_erp_db_url = (
    f"mysql+pymysql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
)

In [2]:
import pandas as pd
import sqlalchemy

In [3]:
engine = sqlalchemy.create_engine(sandhya_erp_db_url)

In [8]:
grn_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.grn", engine)
grn_df.describe().T

,count,mean,min,25%,50%,75%,max,std
grn_id,8141.0,4242.742783,10.0,2221.0,4256.0,6291.0,8326.0,2371.427458
grn_date,8141,2023-11-22 18:11:29.523522816,2023-01-20 18:42:08,2023-05-11 17:08:33,2023-08-12 16:44:48,2024-05-02 14:58:34,2025-08-13 14:42:08,NaN
is_active,8141.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
created_at,8141,2023-11-22 18:11:58.951126272,2023-01-20 18:43:15.625959,2023-05-11 17:09:09.928102912,2023-08-12 16:45:06.627225088,2024-05-02 15:13:47.363397120,2025-08-13 14:43:44.644470,NaN
updated_at,8141,2023-11-28 18:41:24.305636864,2023-01-21 16:09:34,2023-05-30 11:57:12,2023-08-12 16:45:20,2024-05-02 15:24:57,2025-08-13 14:44:40,NaN
version_flag,8141.0,1.867952,1.0,2.0,2.0,2.0,9.0,0.417234
indent_no,8141.0,4085.426483,3.0,2036.0,4070.0,6139.0,8174.0,2364.188008
plant_id,8141.0,2.058224,0.0,1.0,2.0,3.0,3.0,0.945856
sub_plant_id,7300.0,3.29589,0.0,0.0,0.0,6.0,13.0,4.389685

In [7]:
grn_items_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.grn_items", engine)
grn_items_df.describe().T

,count,mean,min,25%,50%,75%,max,std
grn_item_id,14513.0,7401.626817,1.0,3787.0,7415.0,11043.0,14671.0,4210.976571
grn_id,14513.0,4254.973265,10.0,2238.0,4372.0,6287.0,8326.0,2367.785753
indent_id,14513.0,4097.592986,3.0,2053.0,4184.0,6135.0,8174.0,2360.162212
sale_order_id,12535.0,2956.512405,220.0,1927.0,2558.0,3948.0,6394.0,1379.226806
sale_order_item_id,12535.0,10913.495253,358.0,8397.0,10295.0,14045.0,17956.0,3760.989708
farmer,14513.0,177.783367,1.0,39.0,132.0,284.0,574.0,158.318851
farmer_code,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
quantity,14513.0,2822.194033,4.0,1149.0,2136.0,3668.0,31870.0,2540.388906
count,14513.0,60.142631,5.0,40.0,54.0,72.0,4850.0,48.788664
price,269.0,517.925651,103.0,278.0,312.0,350.0,50000.0,3044.748637
received_boxes,13731.0,94.770519,0.0,40.0,73.0,124.0,6069.0,96.966383
soft_percentage,12040.0,0.026412,0.0,0.0,0.0,0.0,132.0,1.335914
boxes,14513.0,93.149452,1.0,39.0,72.0,122.0,867.0,80.202131
is_active,14513.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
assign_to_rm,14513.0,0.995452,0.0,1.0,1.0,1.0,1.0,0.067285
created_at,14513,2023-11-22 13:34:25.140966400,2023-01-20 18:43:15.631362,2023-05-11 18:02:41.789765120,2023-08-25 12:54:21.165931008,2024-05-01 14:42:11.569143040,2025-08-13 14:43:44.659869,NaN
updated_at,14513,2025-02-14 17:21:50.928173312,2023-01-23 12:11:18,2025-05-09 09:22:22.411624960,2025-05-09 09:22:22.411624960,2025-05-09 09:22:22.411624960,2025-08-13 14:44:48,NaN
version_flag,14513.0,4.087163,1.0,3.0,4.0,5.0,17.0,1.851292
indent_item_id,14513.0,7259.711776,1.0,3632.0,7265.0,10961.0,14589.0,4273.564259
product,14513.0,6786.227107,1.0,2980.0,6995.0,10818.0,14589.0,4610.962351
broker,14513.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
vi_inspection,14513.0,0.000207,0.0,0.0,0.0,0.0,1.0,0.014376
rm_inspection,14513.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
antibiotic_test,14513.0,0.000069,0.0,0.0,0.0,0.0,1.0,0.008301
fungus_percentage,12040.0,0.01113,0.0,0.0,0.0,0.0,71.0,0.763314
ice_boxes,66.0,5.560606,0.0,0.0,0.0,10.0,30.0,8.62934
empty_boxes,66.0,19.939394,0.0,0.0,10.0,23.0,130.0,30.720516
rm_boxes,66.0,98.5,7.0,60.25,84.0,108.5,396.0,75.675674
ref_no,12476.0,1264.260099,1.0,449.0,950.0,1957.0,4141.0,1019.578968

In [9]:
indent_df = pd.read_sql("SELECT * FROM erpx_dev_rm_procurement.indent", engine)
indent_df.describe().T

,count,mean,min,25%,50%,75%,max,std
is_active,8172.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
created_at,8172,2023-11-21 22:17:02.774600704,2023-01-20 18:36:47.331519,2023-05-09 19:02:20.516455680,2023-08-13 17:08:50.967610880,2024-04-30 14:21:14.059254016,2025-08-13 14:37:05.070338,NaN
updated_at,8172,2023-11-26 22:01:49.204719872,2023-01-20 18:49:11,2023-05-30 12:07:28.249999872,2023-08-14 15:36:36,2024-05-01 14:59:03.249999872,2025-08-13 14:44:47,NaN
version_flag,8172.0,4.03512,1.0,3.0,4.0,5.0,16.0,1.47375
indent_id,8172.0,4088.5,3.0,2045.75,4088.5,6131.25,8174.0,2359.197533
indent_date,8172,2023-11-19 02:35:08.061551616,2023-01-14 18:30:00,2023-05-08 00:00:00,2023-08-11 00:00:00,2024-04-28 13:04:24,2025-08-11 14:35:38,NaN
commission,8172.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
harvesting_date,8172,2023-11-20 03:06:34.147087360,2023-01-15 18:30:00,2023-05-09 00:00:00,2023-08-12 00:00:00,2024-04-29 14:16:56.249999872,2025-08-12 14:35:38,NaN
assign_lead_1,8172.0,2895.577215,137.0,2039.0,2039.0,2039.0,15339.0,2273.649572
assign_lead_2,5.0,3612.0,1816.0,1822.0,2054.0,2054.0,10314.0,3748.374581
vehicle_assigned,8172.0,0.000489,0.0,0.0,0.0,0.0,1.0,0.02212
grn_completed,8172.0,0.995717,0.0,1.0,1.0,1.0,1.0,0.065308
plant_id,8172.0,2.214023,0.0,1.0,2.0,3.0,3.0,0.832773
indent_by,8172.0,1991.292217,137.0,1875.0,2039.0,2039.0,15339.0,347.204284
is_vehicle_required,8172.0,0.000489,0.0,0.0,0.0,0.0,1.0,0.02212

In [11]:
indent_reading_df = pd.read_sql(
    "SELECT * FROM erpx_dev_rm_procurement.indent_items", engine
)
indent_reading_df.describe().T

,count,mean,min,25%,50%,75%,max,std
indent_item_id,14588.0,7295.5,2.0,3648.75,7295.5,10942.25,14589.0,4211.337199
broker,14588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
farmer,14588.0,177.91116,1.0,39.0,132.0,284.0,574.0,158.22508
farmer_code,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
product,14588.0,1.953181,1.0,2.0,2.0,2.0,3.0,0.211907
expected_count,14588.0,57.267206,1.0,35.0,55.0,75.0,1800.0,30.709889
expected_qty,14588.0,2838.59405,10.0,1100.0,2000.0,3700.0,36000.0,2559.147865
expected_price,14588.0,316.460447,0.0,265.0,300.0,350.0,8000.0,112.518078
expected_count2,12.0,152.083333,34.0,52.75,105.0,235.0,345.0,117.089289
expected_price2,8.0,337.375,90.0,258.75,274.0,281.5,1000.0,275.533217
is_active,14588.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
created_at,14588,2023-11-21 12:50:11.412655360,2023-01-20 18:36:47.337082,2023-05-11 18:27:51.284855296,2023-08-25 17:35:57.052383488,2024-04-29 15:26:27.240363264,2025-08-13 14:37:05.096493,NaN
updated_at,14588,2023-11-22 10:31:09.638928640,2023-01-20 18:37:04,2023-05-11 18:27:51.284855296,2023-08-26 17:23:11,2024-04-30 14:23:38.090960640,2025-08-13 14:37:05.096493,NaN
version_flag,14588.0,1.548464,1.0,1.0,1.0,2.0,13.0,0.689496
indent_id,14588.0,4099.484713,3.0,2060.75,4203.0,6127.0,8174.0,2354.185268
harvest_report_id,14588.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
pp_inward_df = pd.read_sql("SELECT * FROM erpx_dev_production.pp_inward", engine)
pp_inward_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,3261.0,2539.694266,100.0,1466.0,2725.0,3540.0,4551.0,1292.606412
weight_from_gate,3261.0,3655.857298,2.8,1447.9,2590.8,4777.4,36036.0,3440.619156
count_at_farm_gate,3261.0,53.373628,5.0,36.0,50.0,70.0,200.0,24.987935
trays_received_from_farm,3261.0,138.718185,1.0,50.0,91.0,168.0,2601.0,162.358406
lot_start_time,3216,2025-02-23 03:33:49.106032640,2024-05-21 07:25:48,2025-01-24 05:38:12,2025-03-28 04:41:09,2025-05-21 10:39:32.500000,2025-08-13 14:20:44,NaN
lot_end_time,3237,2025-02-24 06:32:04.122952960,2024-05-21 07:25:48,2025-01-24 05:46:21,2025-03-29 04:29:43,2025-05-23 15:55:59,2025-08-13 14:20:44,NaN
verified_weight,3237.0,3673.830404,12.567,1383.3,2545.5,4682.1,171306.0,4973.812196
verified_net_weight,3237.0,2719.600306,-1994739.0,1344.5,2468.9,4479.0,171184.0,35792.073715
verified_count,3237.0,53.623553,1.0,36.0,50.0,70.0,200.0,24.993358
verified_no_of_trays,3237.0,137.174853,1.0,49.0,90.0,167.0,2601.0,158.356086
created_at,3261,2025-02-23 02:53:49.346519552,2024-05-21 07:25:48,2025-01-24 05:47:20,2025-03-28 04:47:14,2025-05-21 03:25:05,2025-08-13 14:20:44,NaN
updated_at,3261,2025-02-24 18:08:22.398344192,2024-05-21 07:25:48,2025-01-24 05:49:26,2025-03-29 04:39:20,2025-05-24 10:19:41,2025-08-13 14:20:44,NaN
closed_at,3237,2025-02-24 06:32:04.122952960,2024-05-21 07:25:48,2025-01-24 05:46:21,2025-03-29 04:29:43,2025-05-23 15:55:59,2025-08-13 14:20:44,NaN
sample_count,3261.0,61.992027,0.0,0.0,0.0,10.0,1847.0,248.699867
is_generic,3261.0,0.000613,0.0,0.0,0.0,0.0,1.0,0.024761

In [13]:
pp_inward_reading_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_inward_reading", engine
)
pp_inward_reading_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,7963.0,7982.832978,963.0,6366.5,8405.0,10397.5,12388.0,3008.454278
session_id,7963.0,2580.117669,109.0,1999.5,2605.0,3352.5,4551.0,1171.158833
weight,7963.0,1109.198678,-1994739.0,70.139999,73.980003,1980.0,171184.0,24099.304124
total_weight,7963.0,2182.104053,-1994739.0,759.73999,1745.242,3320.219971,171184.0,24126.275631
sequence_number,7963.0,21.895894,1.0,1.0,6.0,30.0,211.0,33.508716
crates,7963.0,58.912721,1.0,3.0,3.0,69.0,4587.0,131.0393
epoch,7963.0,1740535794.469044,123456.0,1738904906.5,1742450631.0,1747060233.5,1755075044.0,25136625.446105
epoch_date,7963,2025-02-26 03:57:41.648750592,1970-01-02 10:17:36,2025-02-07 05:08:26.500000,2025-03-20 06:03:51,2025-05-12 20:00:32.500000,2025-08-13 14:20:44,NaN
created_at,7963,2025-03-14 03:02:05.829838080,2024-05-29 07:36:04,2025-02-10 08:12:27,2025-03-21 20:23:03,2025-06-01 17:40:53,2025-08-13 14:20:44,NaN

In [14]:
pp_grading_df = pd.read_sql("SELECT * FROM erpx_dev_production.pp_grading", engine)
pp_grading_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,3171.0,2736.444339,106.0,2164.5,2991.0,3785.5,4578.0,1296.336466
lot_id,3171.0,4432.324503,1.0,1502.5,2937.0,3776.5,109689.0,13764.485698
crate_weight,3171.0,1.989229,0.0,2.0,2.2,3.0,22.0,1.18874
created_at,3171,2025-03-07 14:56:21.387259392,2024-05-21 07:41:55,2025-02-01 12:29:31,2025-04-05 18:50:32,2025-06-01 13:10:50,2025-08-13 15:21:13,NaN
updated_at,3171,2025-03-08 03:06:00.244402432,2024-05-21 07:41:55,2025-02-01 23:59:13,2025-04-06 09:30:12,2025-06-02 01:08:15,2025-08-13 15:21:17,NaN
closed_at,3155,2025-03-07 17:35:30.120126464,2024-05-21 07:41:55,2025-02-01 13:00:00,2025-04-05 08:13:33,2025-06-01 15:11:28,2025-08-13 02:21:28,NaN
is_generic,3171.0,0.000631,0.0,0.0,0.0,0.0,1.0,0.02511

In [15]:
pp_grading_grades_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_grading_grades", engine
)
pp_grading_grades_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,14673.0,9006.500784,186.0,5554.0,9240.0,12912.0,16580.0,4600.14389
session_id,14673.0,2922.293055,106.0,2471.0,3167.0,3852.0,4578.0,1215.70342
count,14673.0,43.4529,7.0,26.0,37.0,55.0,238.0,25.767643
uniformity_ratio,14673.0,1.29221,1.0,1.2,1.28,1.3,24.0,0.285191
created_at,14673,2025-03-27 05:15:22.462550272,2024-05-21 07:41:55,2025-03-01 09:16:35,2025-04-19 14:53:06,2025-06-05 23:41:20,2025-08-13 15:21:13,NaN
bin_number,14673.0,2.586111,0.0,1.0,2.0,4.0,120.0,2.386312

In [16]:
pp_grading_readings_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_grading_readings", engine
)
pp_grading_readings_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,134642.0,3341.393867,106.0,2901.0,3488.0,4021.0,4578.0,932.262966
sequence_number,134642.0,55.657982,1.0,16.0,38.0,76.0,577.0,58.242305
epoch,134642.0,1746084744.755723,949002428.0,1743513498.5,1746983425.0,1750345259.5,1755080191.0,7115454.450308
epoch_date,134642,2025-05-01 07:33:13.135515136,2000-01-27 19:47:08,2025-04-01 13:18:18.500000,2025-05-11 17:16:03,2025-06-19 15:00:59.500000,2025-08-13 10:16:31,NaN
count,133967.0,36.671422,-1.0,24.0,33.0,44.0,238.0,18.385262
weight,134642.0,59.807632,0.0,36.0,36.060001,37.400002,18423.0,331.012941
crates,134642.0,2.465063,0.0,1.0,1.0,2.0,985.0,16.662585
created_at,134642,2025-05-01 14:20:48.824616192,2024-05-21 07:41:55,2025-04-01 19:31:23.750000128,2025-05-11 22:55:02.500000,2025-06-19 15:09:12,2025-08-13 15:47:18,NaN
bin_number,125939.0,2.742328,0.0,2.0,3.0,4.0,120.0,1.694326

In [17]:
pp_soaking_lot_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_soaking_lot", engine
)
pp_soaking_lot_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,41273.0,64369.501514,65.0,44458.0,68968.0,79290.0,89608.0,18683.845072
session_id,41273.0,63804.009377,71.0,44391.0,68569.0,78221.0,88173.0,18242.365687
count,41273.0,50.165305,-1.0,26.0,36.0,52.0,906.0,40.247544
created_at,41273,2025-04-06 04:49:39.823274240,2024-05-28 07:35:35,2025-02-11 17:22:05,2025-03-31 20:20:52,2025-06-10 10:33:39,2025-08-13 15:14:11,NaN
grading_lot_id,31762.0,3068.736509,107.0,2277.0,3365.0,4011.0,4546.0,1168.028884

In [18]:
pp_soaking_df = pd.read_sql("SELECT * FROM erpx_dev_production.pp_soaking", engine)
pp_soaking_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,41875.0,62049.576096,71.0,42571.5,67232.0,77704.5,88173.0,19056.809275
tub_number,41875.0,26.158137,1.0,7.0,13.0,39.0,984.0,27.015907
soak_started_at,41873,2025-03-18 02:11:23.395839744,2024-05-28 07:36:13,2025-01-19 21:20:00,2025-03-20 22:03:02,2025-06-07 15:11:36,2025-08-13 15:15:10,NaN
soak_time,41875.0,118.244728,1.0,120.0,120.0,120.0,1280.0,45.573354
created_at,41875,2025-03-18 02:02:49.480764160,2024-05-28 07:35:34,2025-01-19 21:21:30,2025-03-20 22:02:43,2025-06-07 14:32:44,2025-08-13 15:14:11,NaN
updated_at,41875,2025-03-18 05:01:38.803940352,2024-05-28 07:36:13,2025-01-19 23:24:00,2025-03-21 01:40:15,2025-06-07 17:55:48.500000,2025-08-13 15:15:10,NaN
closed_at,41868,2025-03-18 04:50:11.677677568,2024-05-28 07:36:13,2025-01-19 23:24:30,2025-03-21 01:39:21,2025-06-07 17:37:55.750000128,2025-08-13 11:10:09,NaN
crate_weight,41875.0,1.346828,0.0,0.0,2.0,2.2,27.0,1.048094
soakin_count,12408.0,38.098162,3.0,22.0,32.0,46.0,1172.0,24.970593

In [19]:
pp_soaking_readings_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_soaking_readings", engine
)
pp_soaking_readings_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,35897.0,45654.327855,137.0,40180.0,49160.0,58134.0,67108.0,15905.86422
session_id,35897.0,65823.060228,74.0,61119.0,69878.0,79029.0,88173.0,17684.494921
weight,35897.0,149.421173,0.2,150.0,160.600006,161.619995,226.720001,26.398483
sequence_number,35897.0,1.019918,1.0,1.0,1.0,1.0,23.0,0.388532
epoch,35897.0,1736249267.857008,1712981200.0,1712981200.0,1744460582.0,1749863967.0,1755078256.0,16850080.75555
epoch_date,35897,2025-01-07 14:05:30.179764224,2024-04-13 04:06:40,2024-04-13 04:06:40,2025-04-12 12:23:02,2025-06-14 06:49:27,2025-08-13 15:14:16,NaN
created_at,35897,2025-04-05 13:56:53.294202880,2024-05-28 11:33:29,2025-02-12 01:03:06,2025-04-12 23:34:52,2025-06-14 06:54:58,2025-08-13 15:14:29,NaN
crates,35897.0,3.489122,0.0,0.0,5.0,5.0,8.0,2.258222
tub_number,35897.0,25.312979,0.0,0.0,15.0,42.0,145.0,28.732617

In [20]:
pp_soaking_temperature_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_soaking_temperature", engine
)
pp_soaking_temperature_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,84906.0,88236.25242,3.0,67130.25,88356.5,109582.75,130809.0,24764.420875
session_id,84906.0,73418.665536,0.0,69302.0,75736.5,81835.0,88173.0,13382.38644
temperature,84906.0,4.346418,-96.263817,2.859247,4.022485,5.560419,59.574791,2.297267
temperature_fault,84906.0,0.989365,0.0,1.0,1.0,1.0,2.0,0.349538
tub_number,84906.0,36.7395,0.0,13.0,31.0,56.0,100.0,27.82326
epoch,84906.0,1746642444.932455,0.0,1744075121.75,1748479584.5,1751355369.0,1755078337.0,10054155.380623
epoch_date,84906,2025-05-08 03:55:15.398522880,2024-04-13 04:06:40,2025-04-08 01:18:41.750000128,2025-05-29 06:16:24.500000,2025-07-01 13:06:09,2025-08-13 15:15:37,NaN
created_at,84906,2025-05-08 07:24:04.255305728,2024-04-13 04:06:40,2025-04-08 12:31:04,2025-05-29 06:17:07.500000,2025-07-01 13:06:43.249999872,2025-08-13 15:15:52,NaN

In [21]:
pp_cooking_df = pd.read_sql("SELECT * FROM erpx_dev_production.pp_cooking", engine)
pp_cooking_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,1870.0,4695.64385,2731.0,4264.25,4737.5,5204.75,5672.0,637.903887
started_at,1870,2025-04-26 10:35:05.404813056,2025-01-02 13:06:00,2025-02-09 13:16:30,2025-05-20 15:44:00,2025-06-22 14:15:34.500000,2025-08-12 22:44:07,NaN
closed_at,1869,2025-04-26 12:24:15.998394624,2025-01-02 13:06:00,2025-02-09 13:18:00,2025-05-20 16:25:05,2025-06-22 15:48:50,2025-08-13 00:43:48,NaN
created_at,1870,2025-04-26 10:35:05.404813056,2025-01-02 13:06:00,2025-02-09 13:16:30,2025-05-20 15:44:00,2025-06-22 14:15:34.500000,2025-08-12 22:44:07,NaN
updated_at,1869,2025-04-26 12:24:15.998394624,2025-01-02 13:06:00,2025-02-09 13:18:00,2025-05-20 16:25:05,2025-06-22 15:48:50,2025-08-13 00:43:48,NaN
cooking_temp,1870.0,49.24984,0.0,0.0,72.0,72.0,76.0,33.487613
chilling_temp,1870.0,6.158824,0.0,0.0,9.0,9.0,15.0,4.189967

In [22]:
pp_cooking_lot_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_cooking_lot", engine
)
pp_cooking_lot_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,1875.0,4708.566933,2742.0,4276.5,4750.0,5218.5,5687.0,638.692314
session_id,1875.0,4696.064,2731.0,4265.5,4737.0,5206.5,5672.0,637.668999
count,1875.0,40.286933,8.0,23.0,30.0,44.0,132.0,25.556121
created_at,1875,2025-05-02 10:29:56.154666496,2025-01-23 05:53:31,2025-02-11 19:34:59,2025-05-20 15:14:04,2025-06-22 15:45:24.500000,2025-08-12 22:44:07,NaN

In [24]:
pp_cooking_readings_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_cooking_readings", engine
)
pp_cooking_readings_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,138837.0,101387.303608,30278.0,66714.0,101591.0,136300.0,171009.0,40360.228435
session_id,138837.0,4803.726672,2731.0,4477.0,4752.0,5293.0,5672.0,596.590299
sequence_number,138837.0,3163.573637,1.0,237.0,1361.0,4078.0,41370.0,4892.59065
epoch,138837.0,1747125717.776904,1712981200.0,1743443311.0,1747901479.0,1751319276.0,1755080878.0,5395385.09673
epoch_date,138837,2025-05-13 12:08:47.271491072,2024-04-13 04:06:40,2025-03-31 17:48:31,2025-05-22 13:41:19,2025-07-01 03:04:36,2025-08-13 15:57:58,NaN
temperature,138837.0,14.061966,0.0,4.0,6.0,18.125,85.027611,17.418568
temperature_type,138837.0,2.95857,1.0,2.0,3.0,4.0,4.0,1.091237
temperature_fault,138837.0,0.584138,0.0,0.0,1.0,1.0,2.0,0.4989
periodic_check_fault,138837.0,0.031317,0.0,0.0,0.0,0.0,1.0,0.174174
created_at,87015,2025-06-21 01:15:10.652519680,2025-04-21 13:33:34,2025-05-27 16:09:20,2025-06-20 15:09:04,2025-07-17 17:52:03.500000,2025-08-13 15:58:18,NaN

In [25]:
pp_packing_df = pd.read_sql("SELECT * FROM erpx_dev_production.pp_packing", engine)
pp_packing_df.describe().T

,count,mean,min,25%,50%,75%,max,std
session_id,1430.0,2430.127972,1368.0,2089.25,2446.5,2803.75,3161.0,445.183025
no_of_bags,1430.0,8291.324476,0.0,0.0,0.0,17500.0,63000.0,12985.205302
active_packing_inward_lot_id,1430.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
net_weight,1430.0,425.317476,0.03,0.454,0.908,4.6275,454017.0,12019.878428
min_weight,1430.0,1.777768,0.0,0.46125,1.03,1.06,13.615,2.763724
max_weight,1430.0,1.795244,0.0,0.47875,1.045,1.08,13.625,2.768507
created_at,1430,2025-05-23 19:01:59.913986048,2025-01-02 13:00:00,2025-04-09 19:04:45.500000,2025-06-07 12:10:32.500000,2025-07-20 23:45:37.249999872,2025-08-13 12:23:42,NaN
updated_at,1430,2025-06-22 01:49:10.025174784,2025-01-02 13:00:00,2025-05-18 22:51:48.249999872,2025-08-05 15:27:08,2025-08-05 15:27:08,2025-08-13 13:26:21,NaN
closed_at,1412,2025-06-22 18:59:25.541784832,2025-01-02 13:00:00,2025-05-19 12:48:11.249999872,2025-08-05 15:27:08,2025-08-05 15:27:08,2025-08-13 13:26:21,NaN
no_of_pouches,1430.0,10.308392,0.0,5.0,10.0,16.0,60.0,7.639214
pouch_weight,1430.0,0.023025,0.0,0.0025,0.01,0.019,1.055,0.055027
min_glaze,1026.0,10.943567,0.0,11.0,11.0,11.0,50.0,2.263644
max_glaze,1026.0,14.786704,0.0,15.0,15.0,15.0,150.0,5.392085

In [26]:
# This table has around 3.2 million rows, so avoiding pandas.

# pp_packing_reading_df = pd.read_sql('SELECT * FROM erpx_dev_production.pp_packing_reading', engine)
# pp_packing_reading_df.describe().T

In [27]:
pp_packing_master_readings_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_packing_master_readings", engine
)
pp_packing_master_readings_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,289630.0,144869.329051,45.0,72462.25,144869.5,217276.75,289684.0,83609.412323
session_id,289630.0,2439.327307,1399.0,2215.0,2410.0,2629.0,3161.0,289.758237
weight,289630.0,7.486531,-0.112,5.32,5.46,10.16,25.219999,3.861835
weight_limit,289630.0,7.482518,0.27,5.31704,5.45,10.2,93.984001,3.86601
sequence_number,289630.0,818.430518,1.0,186.0,586.0,1248.0,3987.0,777.215228
epoch,289630.0,1749458837.678873,1739152041.0,1747088357.5,1749623079.5,1752072391.0,1755068647.0,3340152.687806
epoch_date,289630,2025-06-09 13:51:47.097786624,2025-02-10 01:47:21,2025-05-13 03:49:17.500000,2025-06-11 11:54:39.500000,2025-07-09 20:16:31,2025-08-13 12:34:07,NaN
fault,289630.0,1.010531,0.0,1.0,1.0,1.0,2.0,0.257833
created_at,289630,2025-06-09 14:26:18.850216192,2025-02-10 07:17:22,2025-05-13 03:50:49.750000128,2025-06-11 11:54:53.500000,2025-07-09 20:17:19.249999872,2025-08-13 12:34:28,NaN

In [28]:
pp_packing_glazing_reading_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_packing_glazing_reading", engine
)
pp_packing_glazing_reading_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,17118.0,9265.225202,615.0,4988.25,9267.5,13546.75,17826.0,4945.507667
session_id,17118.0,2318.594579,1365.0,2087.0,2297.0,2515.0,80844.0,913.155723
frozen_weight,17118.0,0.674243,0.0,0.388,0.538,1.056,7.179,0.489252
de_glazed_weight,17118.0,0.587965,0.0,0.333,0.466,0.92,6.735,0.427236
glaze_percentage,17117.0,10.374744,-165.142853,7.980293,12.658234,14.018694,88.531815,5.956035
fault,17118.0,0.642657,0.0,0.0,0.0,0.0,3.0,1.188864
duration,17118.0,79.098551,0.0,28.0,44.0,59.0,39041.0,737.900982
sequence_number,17118.0,9.230225,1.0,1.0,2.0,6.0,845.0,38.628781
epoch,17118.0,1747849433.49743,1737591736.0,1745155885.25,1748401025.5,1750929966.25,1755080115.0,4119324.638055
epoch_date,17118,2025-05-21 21:50:37.808680960,2025-01-23 00:22:16,2025-04-20 13:31:25.249999872,2025-05-28 08:27:05.500000,2025-06-26 14:56:06.249999872,2025-08-13 15:45:15,NaN
created_at,17118,2025-05-22 01:37:47.774973696,2025-01-23 05:52:16,2025-04-21 06:38:17.249999872,2025-05-28 08:43:03.500000,2025-06-26 15:20:50.249999872,2025-08-13 15:45:18,NaN

In [29]:
pp_packing_metal_detector_df = pd.read_sql(
    "SELECT * FROM erpx_dev_production.pp_packing_metal_detector", engine
)
pp_packing_metal_detector_df.describe().T

,count,mean,min,25%,50%,75%,max,std
id,20415.0,12008.365956,1544.0,6951.5,12061.0,17164.5,22268.0,5969.33699
session_id,20415.0,2197.800392,1368.0,2005.5,2110.0,2464.0,3145.0,449.320085
sequence_number,20415.0,18.679304,0.0,2.0,5.0,17.0,434.0,40.891987
is_testing,20415.0,0.264266,0.0,0.0,0.0,1.0,1.0,0.440953
epoch,20415.0,1746241359.096645,1737592118.0,1742345206.0,1745430278.0,1750156491.0,1755076854.0,5074645.250134
epoch_date,20415,2025-05-03 05:49:09.779965696,2025-01-23 00:28:38,2025-03-19 00:46:46,2025-04-23 23:14:38,2025-06-17 16:04:51,2025-08-13 14:50:54,NaN
created_at,20415,2025-05-03 11:20:44.805535232,2025-01-23 05:58:38,2025-03-19 06:21:53,2025-04-23 23:24:43,2025-06-17 17:01:00,2025-08-13 14:50:55,NaN